<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.geoverse_app_rn">
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Define ACCESS_FINE_LOCATION if you will use enableHighAccuracy=true  -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <!-- Define ACCESS_COARSE_LOCATION if you will use enableHighAccuracy=false  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:largeHeap="true"
      android:usesCleartextTraffic="true"
      android:requestLegacyExternalStorage="true"
      android:theme="@style/AppTheme">

      <!-- You will only need to add this meta-data tag, but make sure it's a child of application -->
      <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyA36_9T7faYSK-w84OhxTe9CIbx4THru3o"/>

      <!-- You will also only need to add this uses-library tag -->
      <uses-library android:name="org.apache.http.legacy" android:required="false"/>

      <activity
        android:name=".MainActivity"
        android:usesCleartextTraffic="true"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:label="@string/app_name"
        android:windowSoftInputMode="adjustResize"        
        android:exported="true"
        android:screenOrientation="portrait"
        android:launchMode="singleTask">
        <!-- ⚠️ add android:exported="true" and android:launchMode="singleTask" above -->
        <!-- remove the <intent-filter> from .MainActivity -->
      </activity>

      <!-- add the following lines (use the theme you created at step 2) -->
      <activity
        android:name="com.zoontek.rnbootsplash.RNBootSplashActivity"
        android:theme="@style/BootTheme"
        android:exported="true"
        android:launchMode="singleTask">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <!-- add your deep linking instructions inside the RNBootSplashActivity declaration -->
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="myhttp" /> <!-- replace this with your custom scheme -->
        </intent-filter>
      </activity>

        <!-- android.support.v4.content.FileProvider-->

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="com.geoverse_app_rn.provider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>
    <receiver
        android:name="com.huawei.hms.rn.location.RNLocationBroadcastReceiver"
        android:exported="false"
        android:enabled="true">
    <intent-filter>
        <action android:name="${applicationId}.ACTION_HMS_LOCATION" />
        <action android:name="${applicationId}.ACTION_HMS_ACTIVITY_IDENTIFICATION" />
        <action android:name="${applicationId}.ACTION_HMS_ACTIVITY_CONVERSION" />
        <action android:name="${applicationId}.ACTION_HMS_GEOFENCE" />
    </intent-filter>
    </receiver>
    <service android:name="com.huawei.hms.rn.location.RNTaskService" />
    </application>

    <queries>
      <intent>
        <action android:name="android.intent.action.VIEW" />
         <!-- If you don't know the MIME type in advance, set "mimeType" to "*/*". -->
        <data android:mimeType="*/*" />
      </intent>
    </queries>

</manifest>
